:root {
  --background_color: #1C2340;
  --font_color: #F0DAC5;
  --border_color: #50223C;
  --button_color: #AEF359;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
textarea {
    margin-top: 15px;
    width: 50%;
}

.fas{
	color: var(--button_color);
	border: 2px solid "black";
	padding: 10px;
  margin: 20px;
	border-radius: 20px;
  align-items: center;
  display: block;
  right: -140px;
}

.fa-play:hover, .fa-redo-alt:hover, .fa-palette:hover{
	color: var(--font_color);
	border: 2px solid var(--font_color);
	transition: 0.3s ease;
}